#h2 {
  margin: 0;
  border-bottom: 3px solid;
  line-height: 1.5;
}

#a {
  width: 100%;
}
.pageLi {
  margin-bottom: 2.4rem;
}

.subData {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .subData {
    display: flex;
    flex-direction: column;
  }
}